### OpenStack Blueprint Inputs
### These are example inputs.

### Credentials - the only required input.
keystone_username: ''
keystone_password: ''
keystone_tenant_name: ''
keystone_url: ''
region: sal01

#
# example_openstack_virtual_machine_image_id: '' # Cloudify Manager 4.0
# example_openstack_virtual_machine_flavor_id: ''
